<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-lg-6">
        <h2>Semester Papers</h2>
        <% for(let pattern of semPatterns) { %>
            <li><%= pattern.title %></li>
        <% } %>

        <h2>Unit Papers</h2>
        <% for(let pattern of unitPatterns) { %>
            <li><%= pattern.title %></li>
        <% } %>
    </div>
</div>